<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu" class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">个人信息</a>
                <dl class="layui-nav-child">
                    <dd class="teacher-menu-item" data-title="资料完善" data-url="/manager/personal" data-id="11"><a href="">资料完善</a></dd>
                    <dd class="teacher-menu-item" data-title="密码修改" data-url="/manager/password" data-id="12"><a href="">密码修改</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">账号管理</a>
                <dl class="layui-nav-child">
                    <dd class="teacher-menu-item" data-title="账号创建" data-url="/manager/personal" data-id="11"><a href="">账号创建</a></dd>
                    <dd class="teacher-menu-item" data-title="账号删除" data-url="/manager/password" data-id="12"><a href="">账号删除</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">课程管理</a>
                <dl class="layui-nav-child">
                    <dd class="teacher-menu-item" data-title="账号创建" data-url="/manager/personal" data-id="11"><a href="">添加课程</a></dd>
                    <dd class="teacher-menu-item" data-title="账号创建" data-url="/manager/personal" data-id="11"><a href="">修改课程</a></dd>
                    <dd class="teacher-menu-item" data-title="账号删除" data-url="/manager/password" data-id="12"><a href="">删除课程</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;">操作日志</a></li>
        </ul>
    </div>
</div>
</body>
</html>