<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>教务系统学生端</title>
  <link rel="stylesheet" href="../layui/css/layui.css" media="all">
</head>
<body>
<table id="course" lay-filter="course-table"></table>
</body>
<script src="../layui/layui.js" charset="utf-8"></script>
<script src="../js/cookie.js"></script>
<script type="text/html" id="toolbar">
  <a class="layui-btn layui-btn-xs" lay-event="chose">退选</a>
</script>
<script th:inline="none">
  layui.use(['element', 'layer', 'util','form','table'], function(){
    var element = layui.element,
            layer = layui.layer,
            util = layui.util,
            $ = layui.$,
            form = layui.form;
    table = layui.table;

    table.render({
      elem: '#course'
      , url: '/course/list/my'
      , title: '课程表'
      , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      , cols: [
        [
          { field: 'id', title: '课程号', width: 90, sort: true}
          , { field: 'name', title: '课程名', width: 200 }
          , { field: 'credit', title: '学分', width: 130, sort: true }
          , { field: 'location', title: '校区', width: 300 }
          , { field: 'classroom', title: '教室', width: 100 }
          , { field: 'week', title: '上课星期', sort: true, width: 80 }
          , { field: 'classtime', title: '节次', width: 100 }
          , { field: 'allowance', title: '课余量', sort: true, width: 120 }
          , {fixed: 'right',title:'操作', width:80, align:'center', toolbar: '#toolbar'}
        ]
      ]
    });

    table.on("tool(course-table)", function (obj) {
      var data = obj.data;
      if (obj.event === "chose") {
        layer.confirm('确定要选课吗', function(index){

          $.ajax({
            url:"/course/chose",
            data:JSON.stringify({studentId: getCookie("accountNumber"), courseId:data.id}),
            method:"post",
            contentType: "application/json; charset=utf-8",
            dataType:"json",
            success: function (response) {
              if (response.state == 0) {
                obj.update({
                  allowance: data.allowance -1
                });
                layer.alert("选课成功");
              }
              else if (response.state == 1) {
                layer.alert("请勿重复选课");
              }
            }
          });
          layer.close(index);
        });
      }
    });

    $("#query-btn").on("click", function (ev) {
      console.info("reload");
      var type = $("#query-type").val();
      var location = $("#query-location").val();
      var week = $("#query-week").val();
      var time = $("#query-time").val();
      table.reload('course', {
        url: '/course/list/condition'
        , where: {
          type: type,
          location: location,
          week: week,
          classtime: time
        }
      });
    })


  });
</script>>
<style>
  .layui-form-item {
    width: 100px;
    display: inline-block;
  }
</style>
</html>