<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>教务系统学生端</title>
  <link rel="stylesheet" href="../layui/css/layui.css" media="all">
</head>
<body>
<table id="course" lay-filter="course-table"></table>
</body>
<script src="../layui/layui.js" charset="utf-8"></script>
<script src="../js/cookie.js"></script>
<script th:inline="none">
  layui.use(['element', 'layer', 'util','form','table'], function(){
    var element = layui.element,
            layer = layui.layer,
            util = layui.util,
            $ = layui.$,
            form = layui.form;
    table = layui.table;

    table.render({
      elem: '#course'
      , url: '/course/chose/list'
      , title: '课程表'
      , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      , cols: [
        [
          { field: 'id', title: '课程号', width: 90, sort: true}
          , { field: 'name', title: '课程名', width: 200 }
          , { field: 'credit', title: '学分', width: 130, sort: true }
          , { field: 'score', title: '成绩', width: 100 }
        ]
      ]
    });



  });
</script>>
<style>
  .layui-form-item {
    width: 100px;
    display: inline-block;
  }
  body {
    padding: 0px 50px;
  }
</style>
</html>