<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>教务系统登录</title>
  <link rel="stylesheet" href="../layui/css/layui.css" media="all">
  <script src="../layui/layui.js" charset="utf-8"></script>
  <script src="../js/cookie.js"></script>
</head>
<body>
<div class="layui-card">
  <div class="layui-card-header">教务系统</div>
  <div class="layui-card-body">
    <form class="layui-form" action="">
      <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-inline">
          <input type="text" name="accountNumber" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
          <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn layui-btn-radius" lay-submit lay-filter="login">登录</button>
          <button class="layui-btn layui-btn-radius">重置密码</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
<script>
  layui.use(['jquery', 'form', 'layer'], function(){
    var form = layui.form, layer = layui.layer, $ = layui.$;

    form.on('submit(login)', function(data){
      $.ajax({
        type: "post",
        url: "/account/login",
        contentType: "application/json; charset=utf-8",
        data:JSON.stringify(data.field),
        dataType: "json",
        success: function (response) {
          if (response.state == 1)
            layer.msg(response.message, {icon:5, time: 2000})
          else {

            saveCookie("token", response.data.token)
            saveCookie("id", response.data.id)
            saveCookie("accountNumber", response.data.accountNumber)

            if (response.data.accountType == 0)
              window.location.href = "/manager"
            else if (response.data.accountType == 1)
              window.location.href = "/teacher"
            else
              window.location.href = "/student"
          }
        }
      });
      return false;
    });


  });
</script>
<style>
  .layui-card {
    width: 400px;
    height: 250px;

    position: absolute;
    left: 50%;
    top: 50%;

    margin-top: -125px;
    margin-left: -200px;
  }
  .layui-form {
    margin-top: 20px;
  }
  body {
    background-color: #e2e2e2;
  }
</style>
</html>