<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>教务系统学生端</title>
  <link rel="stylesheet" href="../layui/css/layui.css" media="all">
  <script src="../layui/layui.js" charset="utf-8"></script>
  <script src="../js/cookie.js"></script>
</head>
<body>
<form class="layui-form">
  <div class="layui-form-item">
    <label class="layui-form-label">原密码</label>
    <div class="layui-input-block">
      <input id="student-account-password-ori" type="password" name="oriPassword" class="layui-input" >
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">修改密码</label>
    <div class="layui-input-block">
      <input id="student-account-password-update" type="password" name="updatePassword" class="layui-input" >
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">确认密码</label>
    <div class="layui-input-block">
      <input id="student-account-password-update-twice" type="password" name="twicePassword" class="layui-input" >
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="passwordForm">修改密码</button>
    </div>
  </div>
</form>
</body>
<script>
  //JS
  layui.use(['element', 'layer', 'util','form'], function(){
    var element = layui.element,
            layer = layui.layer,
            util = layui.util,
            $ = layui.$,
            form = layui.form;


    //监听提交
    form.on('submit(passwordForm)', function(data){
      var oriPassword = data.field.oriPassword,
              updatePassword = data.field.updatePassword,
              twicePassword = data.field.twicePassword;

      //一些格式上的判断
      if (updatePassword != twicePassword) {
        layer.msg("确认密码不符", {time: 1000})
      }
      else {
        var requestData = {
          id: getCookie("id"),
          password: updatePassword
        }

        $.ajax({
          url:"/account/update",
          data:data,
          method:"post",
          contentType: "application/json; charset=utf-8",
          data:JSON.stringify(requestData),
          dataType: "json",
          success: function (response) {
            var state = response.state;
            if (state == 0) {
              layer.msg("密码已修改", {time: 1000})
            }
            else
              layer.msg("修改失败，请重试", {time:1000})
          }
        });
      }

      return false;
    })

  });
</script>>
<style>
  .layui-form {
    width: 400px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%,-60%);
  }
  .layui-form-label {
    font-size: 15px;
  }
  .layui-form-item {
    margin: 10px;
  }
</style>
</html>